
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
      <p class="lead">This site is a passion project built by a fan, for fun. It is not affiliated with the UFA in any official capacity — just a hobbyist trying to make the season a little more engaging for friends. You should not expect professional quality, guaranteed uptime, or polished design. Things may break, look rough around the edges, or change without notice. It's a labor of love, not a product.</p>
      <p class="lead">Have feedback, found a bug, or just want to reach out? Feel free to <a href="mailto:ryan@razator.com">shoot me an email</a>.</p>
      <p class="lead">Here is the <a href="https://github.com/Razator73/ufa_picks">code</a> for this site. It has
        scores automatically updated using this <a href="https://github.com/yukikongju/audl">AUDL API</a> python package
      </p>
      <p class="lead">This template was created by <a href="http://github.com/sloria/">Steven Loria</a> for use with the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>.</p>
    </div>
</div>
{% endblock %}

