
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
      <p class="lead">Here is the <a href="https://github.com/Razator73/ufa_picks">code</a> for this site. It has
        scores automatically updated using this <a href="https://github.com/yukikongju/audl">AUDL API</a> python package
      </p>
      <p class="lead">This template was created by <a href="http://github.com/sloria/">Steven Loria</a> for use with the <a href="http://github.com/audreyr/cookiecutter/">cookiecutter</a> package by <a href="http://github.com/audreyr/">Audrey Roy</a>.</p>
    </div>
</div>
{% endblock %}

