
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
  <h1 class="mt-5">Forgot Password</h1>
  <p>Enter your username and we'll send a temporary password to your registered email address.</p>
  <br/>
  <form method="POST" action="">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.username.label }}
      {{ form.username(placeholder="Username", class_="form-control") }}
    </div>
    <p class="mt-3"><input class="btn btn-primary" type="submit" value="Send Temporary Password"></p>
  </form>
  <p><em>Remember your password?</em> Click <a href="{{ url_for('public.home') }}">here</a> to log in.</p>
</div>
{% endblock %}
