{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">

    <h1 class="display-3">Welcome to UFA Picks</h1>

    <p>This is a site to help manage our picks for the UFA. Just as a fun little game.</p>
    <p>In the 2026 season, games are scored as follows:</p>
    <ul>
      <li>3 points for correctly guessing the winning team</li>
      <li>Up to 2 bonus points (1 point per team) for guessing their exact final score</li>
      <li>1 bonus point for guessing the exact margin of victory</li>
    </ul>
    <p>At the end of the regular season, your lowest scoring week is automatically dropped! The playoffs will follow
      through to crowning a champion.</p>
  </div>
</div><!-- /.jumbotron -->

{% endblock %}