{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>UFA Picks Playoff Leader board</h1>
        <table>
        <style>
          /* Style to right-align the second column */
          table td:nth-child(2),
          table th:nth-child(2) {
            text-align: right;
          }
        </style>
          <tr>
            <th>Player</th>
            <th>Score</th>
          </tr>
          {% for player in players %}
            <tr>
              <td><a href="{{ url_for('playoff.bracket', user_id=player.id) }}">
                {{ player.full_name }}</a></td>
              <td style="text-align: right;">0</td>
            </tr>
          {% endfor %}
        </table>
    </div>
{% endblock %}